JWT_SECRET=
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=nro_game

DATABASE_URL="mysql://user:pass@localhost:3306/nro"

NEXT_PUBLIC_VIETQR_BANK=TenNganHang
NEXT_PUBLIC_VIETQR_ACCOUNT=SoTaiKhoan
NEXT_PUBLIC_VIETQR_HOLDER=TenChuTaiKhoan
NEXT_PUBLIC_VIETQR_SHOWINFO=false

SEPAY_WEBHOOK_API_KEY=KEYWEBHOCk